.App {
  text-align: center;
  height: 800px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#crawl-meta {
  margin-top: 400px;
}

#crawl-location {
  width: 400px;
  margin-right: 35px;
}

.App-link {
  color: #61dafb;
}

