.App {
  text-align: center;
  height: 800px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#crawl-meta {
  margin-top: 200px;
}

#crawl-location {
  width: 400px;
  margin-right: 35px;
}

/* Word Button ===================================================================== */

#update-ignored-words {
  background-color: red;
}

.word-button {
  transition-duration: .5s;
  margin: 5px;
}
.word-button:hover {
  background-color: green;
}

/* Report ===================================================================== */
.report {
  margin-top: 20px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  overflow: scroll;
}

.list-head {
  line-height: 50px;
  text-decoration: underline;
  font-size: larger;
}

.hidden {
  visibility: hidden;
}


.App-link {
  color: #61dafb;
}

