.App {
  text-align: center;
  height: 800px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main-title {
  margin-top: 200px;
  color: orangered;
  font-size: 220px;
}

span:hover {
  color: black;
}

#crawl-meta {
  margin-top: 200px;
}

#crawl-location {
  width: 400px;
  margin-right: 35px;
}

/* Word Button ===================================================================== */

#update-ignored-words {
  background-color: red;
}

.word-button {
  transition-duration: .5s;
  margin: 5px;
}
.word-button:hover {
  background-color: green;
}

/* Report ===================================================================== */
.report {
  margin-top: 20px;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  overflow: scroll;
}

li:hover {
  color:orangered;
}

#wiki {
  border: 2px solid aliceblue;
  left: 0;
  top : 500px;
  position: absolute;
  width: 280px;
  height: 300px;
  overflow: scroll;
}


.list-head {
  line-height: 50px;
  text-decoration: underline;
  font-size: larger;
}

.left-side {
  width: 40%;
}

.right-side {
  width: 55%;
}

.right-side, .left-side {
  display: inline-block;
  vertical-align: top;
}

.hidden {
  display: none;
}


.App-link {
  color: #61dafb;
}

